@import "./variables.scss";


.dgray-text{
    color:var(--dgray) !important
}

.gray-text{
    color:var(--gray) !important
}

.green-bg{
    background-color:var(--green) !important
}

.green-text{
    color:var(--green) !important
}

.flip{
    transform: rotateY(180deg)
}