@import "./variables.scss";


.dgray-text{
    color:var(--dgray) !important
}

.gray-text{
    color:var(--gray) !important
}

.dgreen-bg{
    background-color:var(--green) !important
}

.green-bg{
    background-color:var(--light-green) !important
}

.dgreen-text{
    color:var(--green) !important
}

.dorang-bg{
    background-color:var(--orang) !important
}

.orang-bg{
    background-color:var(--light-orang) !important
}

.dorang-text{
    color:var(--orang) !important
}

.rounded {
    border-radius: 50px !important;
}