h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
input,
select,
option,
mat-card-title,
mat-error,
mat-hint,
label,
mat-radio-button,
mat-button-toggle,
mat-toolbar,
button,
.mat-raised-button,
.mat-option,
.mat-paginator-range-label,
.mat-paginator-page-size-label,
.mat-calendar-table-header *,
.mat-calendar-body *,
.customSnackBar,
.mat-snackbar-container,
.mat-simple-snackbar,
.mat-snack-bar-container.mat-snack-bar-center,
.mat-header-cell,
.mat-cell,
.mat-form-field,
.mat-list-item,
.mat-menu-item,
.mat-tooltip,
.mat-tab-group,
.mat-select,
.mat-button,
.mat-expansion-panel-content,
.mat-expansion-panel-header,
.mat-slide-toggle-content,
.mat-tab-label,
.mdc-tab__text-label,
mat-label,
.mat-tab-link {
  font-family: Noto !important;
}

.mat-mdc-text-field-wrapper , .mat-mdc-form-field-flex , .mat-mdc-raised-button{
  margin: 0 !important;
  padding: 0 !important;
  height: 5rem !important;
}

.mdc-floating-label{
  top:50% !important
}

.mat-mdc-form-field-infix , input {
  padding: 0 0.5rem 0 0.5rem !important;
  min-height: 5rem !important;
  height: 5rem !important;
  color:var(--gray) !important;
  font-weight: lighter !important;
  font-size: 1.5rem;
}

.mdc-data-table__header-row{
  background-color: var(--bs-light) !important;
}
