:root{
  // neutral colors
  --darkest: #000 !important;
  --lightest: #fFFFFF !important;
  --dgray: #313539 !important;
  --gray: #7f858b !important;
  --green: #419888 !important;
  --light-green: #4198886c !important;
  --orang: #f16a23 !important

}