@import './../../../../assets/style/responsive';

:host{
    margin: 0 5rem;
    font-family: Noto;

    @include media-max($md){
        width: 95%;
    }
}

form {
    @include media-max($md){
        padding: inherit;
    }
}