<div   class="container text-center mt-5">
    <div class="row p-0 m-0">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 pe-0 me-0">
            <header class="d-flex mb-4">
                <mat-icon class="text-black-50 pe-2">slideshow</mat-icon>
                <span class="text-black-50 fs-4">
                    لیست نقش ها / <b class="gray-text">افزودن نقش </b>
                </span>
            </header>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg d-flex">
            <form [formGroup]="form" class="row w-100 m-0">
                <mat-form-field appearance="outline" class="col-12 col-sm-12 col-md 4 col-lg-4">
                    <mat-label class="fs-5">نام کاربری</mat-label>
                    <input type="text" matInput formControlName="name"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12 col-sm-12 col-md 4 col-lg-4">
                    <mat-label class="fs-5">توضیحات</mat-label>
                    <input type="text" matInput formControlName="description"/>
                  </mat-form-field>
                  <mat-slide-toggle class="col-12 col-sm-12 col-md 4 col-lg-4" formControlName="active">غیرفعال</mat-slide-toggle>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md col-lgpe-0 me-0 text-start">
            <button mat-stroked-button class="back-btn m-3" (click)="goTolist()">بازگشت</button>
            <button mat-raised-button class="dgreen-bg text-white m-3" (click)="submit()">افزودن</button>
        </div>
    </div>
</div>