:host ::ng-deep mat-tab-group {
    flex-direction: row;
  }
  :host ::ng-deep mat-tab-header {
    border-bottom: none;
    width: 100%;
  }
  :host ::ng-deep mat-tab-header-pagination {
    display: none !important;
  }
  :host ::ng-deep mat-tab-labels {
    flex-direction: column;
  }
  :host ::ng-deep mat-ink-bar {
    height: 100%;
    left: 98% !important;
  }
  :host ::ng-deep mat-tab-body-wrapper {
    flex: 1 1 auto;
  }

  :host ::ng-deep .mat-mdc-tab-body-wrapper {
    width: 100% !important;
  }

  :host ::ng-deep .mat-mdc-tab-labels{
    flex-direction: column !important;
  }

  :host ::ng-deep .mdc-tab__content{
    justify-content: start !important;
  }

  :host ::ng-deep .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
    border: 0 !important;
  }

  :host ::ng-deep .mdc-tab__text-label {
    color: var(--bs-gray-500) !important;
  }

  :host ::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
    color: var(--bs-gray-800) !important;
  }

  :host ::ng-deep .mat-mdc-tab.mdc-tab {
    max-width: 250px;
    background: var(--light-violet) !important;
    color: var(--gray) !important;
    display: inline-block;
    height: 6rem;
    position: relative;
    margin: 0 0 1rem 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  :host ::ng-deep .mat-mdc-tab.mdc-tab::after {
    background: var(--lightest);
    border-bottom: 3rem solid transparent;
    border-right: 3rem solid var(--light-violet);
    border-top: 3rem solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
  }