.mat-mdc-card {
    border: 1px solid #a7a7a7;
    box-shadow: none !important;
}

.mat-tree-node{
    border-bottom: 1px solid #ddd;
}
mat-checkbox{
    display: flex;
    flex: 1 auto;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) ,:host ::ng-deep mat-form-field:hover{
    background-color: transparent !important;
}

mat-expansion-panel-header:hover {
    background-color: var(--lightest) !important;
}

mat-expansion-panel {
    box-shadow: none !important;
}

mat-icon {
    overflow: inherit !important;
}

@media only screen and (min-width: 1024px) {
    mat-radio-group{
        display: flex;
        white-space: nowrap;
    }
}