/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/assets/style/material.scss";
@import "../src/assets/style/main.scss";

@font-face {
  font-family: IranSans;
    src: url(assets/fonts/iran_sans_light.ttf);
    font-weight: normal;
}

@font-face {
  font-family: Noto;
    src: url(assets/fonts/noto.ttf);
    font-weight: normal;
}

html, body { height: 100%;   font-family: IranSans, Noto !important; font-size: 10px !important;}
body { margin: 0;   font-family: IranSans, Noto !important;}
.font-IranSans{
  font-family: IranSans !important;
}